html,
body {
  height: 100%;
  background-color: #333;
  color: #fff;
}

body{
  padding: 30px 0;
}

a,
a:visited{
  color: rgba(255, 255, 255, 0.9);
}

a:focus,
a:hover,
a:active {
  color: #fff;
}

.intro-section{
  padding: 20px 0;
  background-image: linear-gradient(to bottom right, rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(gsa.jpg);    
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50%;
}

#profile-pic{
    height: 320px;
    width: 320px;
    border-radius: 50%;
    transform: scale(0.8);
    border: 2px solid #707070;
}

.display-name{
    font-size: 1.5em;
}

.intro-text{
    display: block;
    padding: 30px;
}

span.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  font-size: 1.2em;
}

@keyframes wave-animation {
    0% { transform: rotate(  25.0deg); }
   25% { transform: rotate(-25.0deg); }
   50% { transform: rotate( 25.0deg); }
   75% { transform: rotate(-25.0deg); }
  100% { transform: rotate(  25.0deg); }
}

span.victory{
  animation-name: victory-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  display: inline-block;
  font-size: 1.2em;
}

@keyframes victory-animation{
  0% { transform: scale(1); }
  25% { transform: scale(1.2); }
  50% { transform: scale(1); }
  75% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.section-line{
  background-color: #2c2c29;
  height: 55px;
  line-height: 55px;
}

.section-line-header{
  vertical-align: middle;
}

.intro-header.section-line{
  background-color: transparent;
}

.recommendations-section{
  /* display: none; */
}

.recommendations-header{
  background-color: #707070; 
  height: 55px;
  line-height: 55px;
}

.recommendations-header span{
  display: inline-block;
  vertical-align: middle;
}

.recommendations-content{
  min-height: 450px;
  padding-top: 15px;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

  .card{
    background-color: transparent;
    min-height: 400px;
    border: 1px solid #00818a;
  }

  .card-header{
    background-color: #00818a;
  }

  .carousel-indicators li{
    border: 1px;
    border-radius: 50%;
    height: 5px;
    width: 5px;    
  }

.projects-content{
  padding: 15px;
}

.projects-content{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(work.jpg);    
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50%;
}

.projects-section{

}

.projects-section .card{
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 0;
}

.projects-section .card-body{
  min-height: 320px;
}

.projects-section .card img{
  height: 150px;
  border-radius: 0;
}